shopee_manual_v3.json
{
  "name": "🛸 Shopee Manual Dispatch V3 - Nerd Mission Control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopee-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        0
      ],
      "id": "node-webhook",
      "name": "📥 Webhook Recebe Produtos",
      "webhookId": "shopee-manual-dispatch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, total: $json.body.total, message: 'Recebido! Processando ' + $json.body.total + ' produto(s). 🚀' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1560,
        -200
      ],
      "id": "node-respond",
      "name": "✅ Resposta Imediata"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst products = body.products || [];\nconst dest = body.destination || {};\n\nconst toWid  = dest.wid  || '120363407963539220@g.us';\nconst toName = dest.name || 'Grupo Teste';\n\nif (!products.length) return [];\n\nreturn products.map((p, i) => ({\n  json: {\n    ordem: i + 1,\n    total: products.length,\n    to:    toWid,\n    dest_name: toName,\n    item_id: p.id || '',\n    title: p.name || '',\n    price: p.price || '',\n    shop:  p.shop || '',\n    commission_rate:  p.commission_rate || '',\n    commission_value: p.commission_value || '',\n    sales: parseInt(p.sales || 0),\n    product_url:   p.product_url || '',\n    affiliate_url: p.affiliate_url || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        160
      ],
      "id": "node-split",
      "name": "🔀 Separar Produtos"
    },
    {
      "parameters": {
        "url": "={{ 'https://shopee.com.br/api/v4/item/get?itemid=' + $json.item_id + '&shopid=' + ($json.product_url.match(/\\/product\\/(\\d+)\\//) ? $json.product_url.match(/\\/product\\/(\\d+)\\//)[1] : '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://shopee.com.br/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 12000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1320,
        160
      ],
      "id": "node-shopee-api",
      "name": "🌐 Shopee Item API",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🧹 PARSER + FORMATADOR — NERD MISSION CONTROL V2\n// Mensagens de curadoria manual, estilo nerd/apaixonado por tech\n// ═══════════════════════════════════════════════════════════════\nconst p = $('🔀 Separar Produtos').item.json;\nconst apiResp = $json;\n\n// ── IMAGEM ──────────────────────────────────────────────────────\nlet imageUrl = '';\ntry {\n  const item = apiResp?.data?.item;\n  if (item?.images?.length > 0) {\n    imageUrl = 'https://cf.shopee.com.br/file/' + item.images[0];\n  } else if (item?.image) {\n    imageUrl = 'https://cf.shopee.com.br/file/' + item.image;\n  }\n} catch(e) {}\n\n// Fallback via URL do produto\nif (!imageUrl) {\n  const matchImg = p.product_url.match(/\\/product\\/(\\d+)\\/(\\d+)/);\n  if (matchImg) imageUrl = `https://cf.shopee.com.br/file/${matchImg[2]}_tn`;\n}\n\n// ── PREÇO ────────────────────────────────────────────────────────\nconst precoNum = parseFloat(String(p.price || '0').replace(',', '.'));\nconst precoFmt = 'R$ ' + precoNum.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n\n// ── VENDAS / VIRAL ────────────────────────────────────────────────\nconst vendas = parseInt(p.sales || 0);\nconst isViral = vendas >= 500;\nconst isMuitoViral = vendas >= 2000;\n\n// ── HORÁRIO BR ────────────────────────────────────────────────────\nconst horaBR = (new Date().getUTCHours() - 3 + 24) % 24;\nlet periodo;\nif (horaBR >= 5 && horaBR < 9)   periodo = 'MANHA_CEDO';\nelse if (horaBR >= 9 && horaBR < 12)  periodo = 'MANHA';\nelse if (horaBR >= 12 && horaBR < 14) periodo = 'ALMOCO';\nelse if (horaBR >= 14 && horaBR < 18) periodo = 'TARDE';\nelse if (horaBR >= 18 && horaBR < 22) periodo = 'NOITE';\nelse periodo = 'MADRUGADA';\n\n// ═══════════════════════════════════════════════════════════════\n// MENSAGENS DE CURADORIA — estilo pessoal, nerd, apaixonado\n// Formato: título especial + contexto pessoal + produto + CTA\n// ═══════════════════════════════════════════════════════════════\nconst ESPACO = '⠀';\n\n// ── TÍTULOS ESPECIAIS (curadoria manual) ─────────────────────────\nconst titulosNerd = [\n  '🤓 *HORA DO NERD — achado especial!*',\n  '🛸 *TECH ESCOLHIDO A DEDO — só pra vocês!*',\n  '🧪 *LAB DO NERD: produto aprovado!*',\n  '🎯 *GARIMPEI PRA VOCÊS — olha só isso!*',\n  '🔬 *UNDER THE RADAR — achei antes de todo mundo*',\n  '⚡ *ALERTA NERD — produto no radar!*',\n  '🏆 *CURADORIA NERD — selecionei com carinho*'\n];\n\nconst titulosManha = [\n  '☕ *ACHEI ISSO DE MANHÃ — tinha que compartilhar!*',\n  '🌅 *BOM DIA COM OFERTA NERD!*',\n  '🧠 *ANTES DO CAFÉ — já garimpei pra vocês*'\n];\n\nconst titulosAlmoco = [\n  '🍕 *PAUSA DO ALMOÇO BEM APROVEITADA...*',\n  '⏸️ *DEI UMA PAUSA E ACHEI ISSO*',\n  '🍽️ *ENTRE UMA GARFADA E OUTRA — oferta nerd!*'\n];\n\nconst titulosTarde = [\n  '🌤️ *TARDE PRODUTIVA: garimpei esse pra vocês*',\n  '☕ *CAFÉ DA TARDE + ACHADO TECH*',\n  '🔍 *FUÇANDO A INTERNET AQUI...*'\n];\n\nconst titulosNoite = [\n  '🌙 *NOITE DO NERD — achado especial*',\n  '🦉 *CORUJA TECH: procurando enquanto vocês dormem*',\n  '🌃 *DEPOIS DO DIA — separei isso pra vocês*',\n  '😴 *ANTES DE DORMIR — compartilha que é bom demais*'\n];\n\nconst titulosViralNerd = [\n  '🔥 *TODO NERD TÁ COMPRANDO ESSE!*',\n  '📈 *VIRAL NA SHOPEE — e eu entendo o porquê*',\n  '🚀 *PRODUTO DO MOMENTO — garimpado com aprovação!*'\n];\n\n// ── MENSAGEM PESSOAL (contextual) ─────────────────────────────────\nconst mensagensPessoais = [\n  '_Tava dando uma olhada na Shopee e não resisti em compartilhar..._',\n  '_Garimpei isso aqui no meu tempo livre — achei demais!_',\n  '_Vi isso e lembrei de vocês do grupo. Preço absurdo!_',\n  '_Não consigo guardar bom achado só pra mim. 😅 Olha isso:_',\n  '_Esse aqui passou pelo meu radar e eu fui checar. Valeu cada segundo!_',\n  '_Filtrei manualmente pra trazer o que tem mais a ver com a galera aqui._',\n  '_Curadoria 100% manual — sem algoritmo, só olho clínico de nerd. 🧠_',\n  '_Achado raro esses dias. Não encontra assim em todo lugar._'\n];\n\nconst mensagensManha = [\n  '_Manhã produtiva aqui: já garimpei oferta antes mesmo do café esfriar! ☕_',\n  '_Acordei, fui na Shopee, achei isso. Bom dia! 😅_'\n];\n\nconst mensagensAlmoco = [\n  '_Aproveitei a pausa do almoço pra garimpar essa joia aqui._',\n  '_Entre uma tarefa e outra, achei isso na Shopee. 😂_'\n];\n\nconst mensagensNoite = [\n  '_Trabalhei o dia todo e ainda achei um tempinho pra garimpar pra vocês. 🌙_',\n  '_Final do dia, mas o nerd não descansa. Olha o que eu achei!_'\n];\n\n// ── SELECIONA TÍTULO ───────────────────────────────────────────────\nlet titulo;\nif (isMuitoViral) {\n  titulo = titulosViralNerd[Math.floor(Math.random() * titulosViralNerd.length)];\n} else {\n  const poolTitulos = [...titulosNerd];\n  if (periodo === 'MANHA_CEDO' || periodo === 'MANHA') poolTitulos.push(...titulosManha);\n  else if (periodo === 'ALMOCO') poolTitulos.push(...titulosAlmoco);\n  else if (periodo === 'TARDE') poolTitulos.push(...titulosTarde);\n  else poolTitulos.push(...titulosNoite);\n  titulo = poolTitulos[Math.floor(Math.random() * poolTitulos.length)];\n}\n\n// ── SELECIONA MENSAGEM PESSOAL ─────────────────────────────────────\nlet msgPessoal;\nconst poolMsg = [...mensagensPessoais];\nif (periodo === 'MANHA_CEDO' || periodo === 'MANHA') poolMsg.push(...mensagensManha);\nelse if (periodo === 'ALMOCO') poolMsg.push(...mensagensAlmoco);\nelse if (periodo === 'NOITE' || periodo === 'MADRUGADA') poolMsg.push(...mensagensNoite);\nmsgPessoal = poolMsg[Math.floor(Math.random() * poolMsg.length)];\n\n// ── BADGES ───────────────────────────────────────────────────────\nconst vendaBadge = isMuitoViral\n  ? '\\n🔥 *+' + vendas + ' vendidos* — tá bombando!'\n  : isViral ? '\\n📈 *' + vendas + ' vendidos* na Shopee' : '';\n\nconst commBadge = p.commission_value\n  ? '\\n💸 _Comissão: ' + p.commission_rate + ' (' + p.commission_value + ')_'\n  : '';\n\n// ── ENCURTAR LINK ─────────────────────────────────────────────────\nlet linkFinal = p.affiliate_url || p.product_url || '';\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://tinyurl.com/api-create.php?url=' + encodeURIComponent(linkFinal),\n    timeout: 8000\n  });\n  const limpo = String(r).trim();\n  if (limpo.startsWith('https://tinyurl.com/')) linkFinal = limpo;\n} catch(e) {}\n\n// ── MONTA MENSAGEM FINAL ──────────────────────────────────────────\nconst parts = [\n  titulo,\n  ESPACO,\n  msgPessoal,\n  ESPACO,\n  '📦 *' + p.title + '*',\n  ESPACO,\n  '💰 *R$ ' + p.price + '*'\n];\n\nif (commBadge)  parts.push(commBadge);\nif (vendaBadge) parts.push(vendaBadge);\n\nparts.push(ESPACO);\nparts.push('🛒 *Garanta o seu agora:*');\nparts.push(linkFinal);\nparts.push(ESPACO);\nparts.push('🔒 _Compra segura pela Shopee_');\nparts.push('━━━━━━━━━━━━━━━━━');\n\nconst message = parts.join('\\n');\n\n// ── DESTINO (modo) ─────────────────────────────────────────────────\n// group  = 120363407963539220-group (teste)\n// channel = 120363425991429905@newsletter (canal oficial)\nconst destinos = {\n  group:   '120363407963539220@g.us',\n  channel: '120363425991429905@newsletter'\n};\nconst to = destinos[p.mode] || destinos.group;\n\nreturn [{\n  json: {\n    status: 'pronto',\n    title: p.title,\n    price: precoFmt,\n    image: imageUrl,\n    message,\n    link: linkFinal,\n    to,\n    ordem: p.ordem,\n    total: p.total\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        160
      ],
      "id": "node-formatter",
      "name": "🧹 Formatar Mensagem Nerd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-image",
              "leftValue": "={{$json.image}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-msg",
              "leftValue": "={{$json.message}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -840,
        160
      ],
      "id": "node-valid",
      "name": "✅ Válido?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        80
      ],
      "id": "node-wait",
      "name": "⏳ 15s entre envios",
      "webhookId": "wait-nerd-mc-01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer QjuTXU197CTjJjn9oVLNlG8ck6ANqQSt"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "media",
              "value": "={{ $json.image }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -360,
        80
      ],
      "id": "node-whapi",
      "name": "📲 Enviar WhatsApp (Whapi)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pZ292nwzKrsW1IFs7dHhPRuEz1tmViH37LvqgWO8k-w",
          "mode": "id",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZ292nwzKrsW1IFs7dHhPRuEz1tmViH37LvqgWO8k-w/edit",
          "cachedResultName": "Logs TecnoClube"
        },
        "sheetName": {
          "__rl": true,
          "value": 1702976939,
          "mode": "list",
          "cachedResultName": "Canal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZ292nwzKrsW1IFs7dHhPRuEz1tmViH37LvqgWO8k-w/edit#gid=1702976939"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{$now.format('dd/MM/yyyy HH:mm')}}",
            "Plataforma": "SHOPEE_MANUAL",
            "Titulo": "={{$json.title}}",
            "Preco": "={{$json.price}}",
            "Faixa": "MANUAL",
            "Link": "={{$json.link}}",
            "Copa": "NAO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma",
              "displayName": "Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preco",
              "displayName": "Preco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faixa",
              "displayName": "Faixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Copa",
              "displayName": "Copa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -120,
        80
      ],
      "id": "node-sheets",
      "name": "📊 Log Google Sheets",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fc4FoLJxDABvGnRl",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "📥 Webhook Recebe Produtos": {
      "main": [
        [
          {
            "node": "✅ Resposta Imediata",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 Separar Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Separar Produtos": {
      "main": [
        [
          {
            "node": "🌐 Shopee Item API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Shopee Item API": {
      "main": [
        [
          {
            "node": "🧹 Formatar Mensagem Nerd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Formatar Mensagem Nerd": {
      "main": [
        [
          {
            "node": "✅ Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Válido?": {
      "main": [
        [
          {
            "node": "⏳ 15s entre envios",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "⏳ 15s entre envios": {
      "main": [
        [
          {
            "node": "📲 Enviar WhatsApp (Whapi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 Enviar WhatsApp (Whapi)": {
      "main": [
        [
          {
            "node": "📊 Log Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "c00cd819a8756898542f1330367f5d6b8a62d858fb740ed7dc99fda468f06946"
  },
  "tags": [
    {
      "name": "Manual"
    },
    {
      "name": "Shopee"
    }
  ]
}